/*-- scss:defaults --*/
# convert this to a color system

  $cf_purple: #702b84;
  $cf_blue: #2b388f;
  $cf_green: #00944d; 
  $cf_lime: #8bc53f;

// Links

$link-color:                $cf_purple !default;
$toc-color:                 $cf_purple; !default;

 /* consider changing toc links to darker for better contrast*//
 /* header same col as navbar */
 
/*-- scss:rules --*/
 
h2 {
    color: $cf_purple);
    font-size: 30px;
    font-weight: bold;
}