/*-- scss:defaults --*/

$cf_purple: #702b84;
$dark_purple: #42194d; 
$cf_blue: #2b388f;
$cf_green: #00944d; 
$cf_lime: #8bc53f;

// Links

$link-color:    $dark_purple !default;
$toc-color:     $dark_purple !default;
 
/*-- scss:rules --*/
 
h2 {
    color: $cf_purple;
    font-size: 30px;
    font-weight: bold;
}


figcaption  {
  font-weight: bold;
    color: #595d61ff !important;
      font-size: 15px !important;
}

body caption {
  font-weight: bold;
  font-size: 15px !important;
  color: #595d61ff !important;
  text-align: left !important;
}


